
.header {
  width: 100%;
  padding: 2%;
  background-color: rgb(131, 194, 243);
  color: rgb(85, 85, 85);
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(175, 216, 247);
  padding: 5%;
}

.number {
  color: rgb(136, 135, 135);
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.mybutton {
  background-color: rgb(131, 194, 243);
  color: rgb(84, 84, 84);
  font-size: 12;
  border: 1px solid rgb(182, 181, 181);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

/* .parent {
  position: relative;
} */

/* .mytooltip {
  position: absolute;
  top: -80%;
  left: 10%; */
  /* display: inline-block;  */
  /* border: 1px solid black; */
  /* transform: translateX(-50%); */
  /* background-color: rgb(113, 112, 112);
  color: rgb(252, 250, 250);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap; 
} */