
.header {
  width: 100%;
  padding: 2%;
  background-color: rgb(131, 194, 243);
  color: white;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(175, 216, 247);
  padding: 5%;
}

.number {
  color: rgb(136, 135, 135);
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}
